.places {
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 92px;
  box-sizing: content-box;
}

@media screen and (max-width: 1279px) {
  .places {
    width: 90.625%;
    min-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: 93.75%;
    min-width: 720px;
    padding-bottom: 90px;
    box-sizing: content-box;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 100%;
    padding-bottom: 66px;
    min-width: 320px;
  }
}
