.cover {
  width: 92.5%;
  max-width: 1184px;
  max-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: linear-gradient(0deg, rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)),
    url('../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover:hover {
  background: linear-gradient(0deg, rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)),
    url('../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
  }
}
