.places {
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 92px;
  box-sizing: content-box;
}

.place {
  display: grid;
  width: 100%;
  grid-template-columns: 47% 49%;
  column-gap: 4%;
  row-gap: 48px;
  padding-bottom: 80px;
  box-sizing: content-box;
}

.place:last-child {
  padding-bottom: 0;
}

.place__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 0;
  justify-items: start;
  align-items: center;
}

.place__image {
  width: 100%;
}

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.place__url-heading {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: #aaaaaa;
  letter-spacing: 2px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.place__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 12px;
}

.place__paragraph {
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .places {
    width: 90.625%;
    min-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: 93.75%;
    min-width: 720px;
    padding-bottom: 90px;
    box-sizing: content-box;
  }

  .place {
    padding-bottom: 73px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 100%;
    padding-bottom: 66px;
    min-width: 320px;
  }

  .place {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 32px;
    padding-bottom: 50px;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .place__website {
    margin-left: 5%;
    margin-right: 5%;
  }

  .place__text {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.cover {
  width: 92.5%;
  max-width: 1184px;
  max-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: linear-gradient(0deg, rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)),
    url('../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover__title {
  margin: 245px auto 32px;
  width: 560px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
}

.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-block-end: 0;
  text-align: center;
}

.cover__link {
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  aspect-ratio: 8 / 5;
}

.cover:hover {
  background: linear-gradient(0deg, rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)),
    url('../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
  }

  .cover__title {
    margin-top: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    margin-top: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin: 10.32% auto 16px;
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    margin: 0 auto;
    width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}

.footer {
  width: 92.5%;
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  display: flex;
  column-gap: 18px;
}

.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  text-decoration: none;
}

.footer__copyright {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: 90.625%;
    min-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    width: 93.75%;
    min-width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: 90%;
    min-width: 288px;
    flex-direction: column;
    row-gap: 48px;
    align-items: flex-start;
    padding-top: 64px;
  }

  .footer__menu {
    flex-direction: column;
    row-gap: 32px;
  }

  .footer__link {
    font-size: 24px;
    line-height: 1;
  }

  .footer__copyright {
    line-height: 14px;
  }
}
